/* Reset */

ul {
  margin: 0;
  padding: 0px;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.page__header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.page__more-inf {
  font-family: 'fantasy', cursive;
}

@media (max-width:768px) {
  .page__header { 
    text-align: center;
  }
}

.page__main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.page__input,
.task__input,
.task__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.page__new-item-body {
  display: flex;
}

.page__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.page__btn:hover {
  color: #3a3a3a;
}

.page__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* Heading */

.page__title_new {
  display: block;
  margin: 0 0 20px;
}


.page__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  
}

.page__input:focus {
  color: #333;
}

/* New Task */

#new-task-input {
    display: block;
    width: 318px;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task > * {
  vertical-align: middle;
}

.task__checkbox {
  margin: 0 10px;
}

.task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__input {
  width: 226px;
}

.delete-btn__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-btn__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.page__completed-tasks-container .task__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task__input {
  display: none;
}

.page__task_edit-mode .task__input {
  display: inline-block;
  width: 224px;
}

.page__task_edit-mode .task__label {
  display: none;
}